*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f7f7f7;
    padding: 20px;
}

h1{
    text-align: center;
    color: #2c3e50;
}

p{
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
}

select, button{
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

#weather{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

#weather h4{
    color: #76aade;
    padding: 15px;
}

#weather ul{
    margin-left: 20px;
    text-align: left;
    list-style-type: circle;
}

.day{
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
    width: 140px;
    text-align: center;
}

#advice{
    margin-top: 15px;
    padding: 15px;
    padding-bottom: 20px;
    background: #dff7df;
    border-radius: 8px;
    border: 1px solid #a2e5a2;
}

#advice h3{
    margin-top: 20px;
    text-align: center;
}

#advice h4{
    padding-top: 20px;
    color: #2c3e50;
}

#advice ul{
    padding-left: 20px;
    font-size: 18px;
}